@media only screen and (max-width: 1400px) {
    .section-about {
        margin: 6%;
        padding: 3%;
    }
    .main-nav {
        margin: 50px 3%;
    }
   
}

@media only screen and (max-width: 1235px) {
    section { padding: 60px 0; }
    .row { padding: 0 5%;}
    .col {
        width: 100%;
        margin: 0 0 5% 0;
    }
    .box p {
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        width: 100%;
    }
    .btn-toggle {
        margin: 7% 0;
    }
    .project-photo {
        margin-left: 0;
        width: 70%;
    }
}
@media only screen and (max-width: 980px) {
    
    .main-nav { display: none; }
    
    .mobile-nav-icon { 
        display: inline-block;
        margin-top: 40px;
    }
    .main-nav {
        margin-top: 35px;
        margin-left: 45px;
    }
    .main-nav li {
        display: block;
    }
    .main-nav li a:link,
    .main-nav li a:visited {
        display: block;
        padding: 10px 0;
    }
    .sticky .main-nav { margin-top: 10px; }
    .sticky .main-nav li a:link,
    .stciky .main-nav li a:visited { padding: 10px 0; }
    .sticky .menu-logo { 
        color: #555; 
    }
    .sticky .mobile-nav-icon { margin-top: 12px; }
    .dev-img { max-width: 120%; }
}

@media only screen and (max-width: 800px) {
    header {
        background-attachment: scroll;
    }
    .footer-contact {
        background-attachment: scroll;
    }
    section { padding: 30px 0;}
    .sum-container {
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-orient: vertical;
        -webkit-box-direction: normal;
            -ms-flex-direction: column;
                flex-direction: column;
        -webkit-box-pack: center;
            -ms-flex-pack: center;
                justify-content: center;
        -webkit-box-align: center;
            -ms-flex-align: center;
                align-items: center;
    }
    .about-image { margin: 10% 0; }
    .header-text { padding: 0 5%; }
    .dev-img { max-width: 90%; }
}

@media only screen and (max-width: 600px) {
    section { padding: 25px 0; }
    .skill-container {
        -webkit-box-orient: vertical;
        -webkit-box-direction: normal;
            -ms-flex-direction: column;
                flex-direction: column;
    }
    .project-link {
        width: 70%;
        -webkit-box-orient: vertical;
        -webkit-box-direction: normal;
            -ms-flex-direction: column;
                flex-direction: column;
        -webkit-box-align: start;
            -ms-flex-align: start;
                align-items: flex-start;
    }
    .project-link a {
        margin: 3% 0;
    }
    .main-nav { margin-top: 5px; }
    .main-nav li a:link,
    .main-nav li a:visited {
        display: block;
        padding: 8px 0;
        margin-right: 0;
    }
}

@media only screen and (max-width: 480px) {
    .nav-info{ display: none; }
    .sticky .nav-info { display: inline-block; }
    .main-nav {
        margin: 5%;
        float: left;
    }
    .footer-contact { 
        height: 70vh;
    }
}